<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Library</title>
    <link rel="stylesheet" href="~/css/Home.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to OpenLibrary</h1>
        <div class="book-grid">
            @foreach (var book in Model)
            {
                <div class="book-card">
                  
                    <img src="@Url.Content(book.Photo.Replace("\\", "/"))" alt="@book.Name">
                    <h3>@book.Name</h3>
                    <p>By: @book.Author</p>
                    <a href="/Book/GetBook/@book.Id">View Details</a>
                </div>
            }
        </div>
    </div>
    <footer>© 2024 Library Management System. All Rights Reserved.</footer>
</body>
</html>
