.layout-default html {
    font-size: 14px;
}

.layout-default @media (min-width: 768px) {
    html

{
    font-size: 16px;
}

}

.layout-default .btn:focus,
.layout-default .btn:active:focus,
.layout-default .btn-link.nav-link:focus,
.layout-default .form-control:focus,
.layout-default .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.layout-default html {
    position: relative;
    min-height: 100%;
}

.layout-default body {
    margin-bottom: 60px;
}
